
@{
    ViewData["Title"] = "BlogDetail";
}

<main>
    <!-- breadcrumb starts -->
    <div class="breadcrumb">
      <div class="custom-container">
        <h1 class="breadcrumb__title">Blog</h1>
        <ul class="breadcrumb__list">
          <li class="breadcrumb__list__item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb__list__item">Blog</li>
          <li class="breadcrumb__list__item active">Blog Details</li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb ends -->

    <!--Showcase section starts-->
    <section class="showcase">
      <div class="custom-container">
        <div class="row">
          <div class="col-lg-9">
            <div class="showcase__img-container">
              <img src="assets/images/blog-details-1.jpg" alt="" />
            </div>
            <div class="showcase__blog-content">
              <h5 class="showcase__blog-content__title">
                Celebrity Daughter Opens About Upto Having Her Eye
              </h5>

              <ul class="showcase__blog-content__date">
                <li><span>By: </span> Admin,</li>
                <li><span>On: </span> 14.07.2029</li>
              </ul>

              <p>
                Bigger ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate perferendis consequuntur illo aliquid nihil ad
                neque, debitis praesentium libero ullam asperiores
                exercitationem deserunt inventore facilis, officiis,
              </p>
              <blockquote>
                <p>
                  Quisque semper nunc vitae erat pellentesque, ac placerat
                  arcu consectetur. venenatis elit ac ultrices convallis. Duis
                  est nisi, tincidunt ac urna sed, cursus blandit lectus. In
                  ullamcorper sit amet ligula ut eleifend. Proin dictum tempor
                  ligula, ac feugiat metus. Sed finibus tortor eu scelerisque
                  scelerisque.
                </p>
              </blockquote>
              <p>
                aliquam maiores asperiores recusandae commodi blanditiis ipsum
                tempora culpa possimus assumenda ab quidem a voluptatum quia
                natus? Ex neque, saepe reiciendis quasi velit perspiciatis
                error vel quas quibusdam autem nesciunt voluptas odit quis
                dignissimos eos aspernatur voluptatum est repellat. Pariatur
                praesentium, corrupti deserunt ducimus quo doloremque nostrum
                aspernatur saepe cupiditate sit autem exercitationem debitis,
                maiores vitae perferendis nemo? Voluptas illo, animi
                temporibus quod earum molestias eaque, iure rem amet autem
                dignissimos officia dolores numquam distinctio esse voluptates
                optio pariatur aspernatur omnis? Ipsam qui commodi velit natus
                reiciendis quod quibusdam nemo eveniet similique animi!
              </p>
            </div>
            <div class="showcase__comments">
              <h5 class="showcase__comments__title">03 Comment</h5>
              <ul>
                <li class="showcase__comments__comment">
                  <!-- <div > -->
                  <div class="showcase__comments__comment__img-container">
                    <img src="assets/images/comment-icon.jpg" alt="avatar" />
                  </div>
                  <div class="showcase__comments__comment__box">
                    <h5 class="showcase__comments__comment__box__author">
                      Admin
                    </h5>
                    <button>Reply</button>

                    <div class="showcase__comments__comment__box__date">
                      <p>15 Dec, 2019 at 9:30pm</p>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Enim maiores adipisci optio ex, laboriosam facilis non
                      pariatur itaque illo sunt?
                    </p>
                  </div>
                  <!-- </div> -->
                </li>
                <li class="showcase__comments__comment">
                  <!-- <div > -->
                  <div class="showcase__comments__comment__img-container">
                    <img src="assets/images/comment-icon.jpg" alt="avatar" />
                  </div>
                  <div class="showcase__comments__comment__box">
                    <h5 class="showcase__comments__comment__box__author">
                      Admin
                    </h5>
                    <button>Reply</button>

                    <div class="showcase__comments__comment__box__date">
                      <p>20 Nov, 2019 at 9:30pm</p>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Enim maiores adipisci optio ex, laboriosam facilis non
                      pariatur itaque illo sunt?
                    </p>
                  </div>
                  <!-- </div> -->
                </li>
                <li class="showcase__comments__comment">
                  <!-- <div > -->
                  <div class="showcase__comments__comment__img-container">
                    <img src="assets/images/comment-icon.jpg" alt="avatar" />
                  </div>
                  <div class="showcase__comments__comment__box">
                    <h5 class="showcase__comments__comment__box__author">
                      Admin
                    </h5>
                    <button>Reply</button>

                    <div class="showcase__comments__comment__box__date">
                      <p>25 Jan, 2019 at 9:30pm</p>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Enim maiores adipisci optio ex, laboriosam facilis non
                      pariatur itaque illo sunt?
                    </p>
                  </div>
                  <!-- </div> -->
                </li>
              </ul>
            </div>
            <div class="showcase__submit-content">
              <div>
                <h5>Leave a Reply</h5>
                <p>
                  Email address will not be published. Required fields are
                  marked *
                </p>
              </div>

              <form class="showcase__submit-content__form">
                <div class="showcase__submit-content__form__content">
                  <div class="row" style="row-gap: 2rem;">
                    <div class="col-lg-12">
                      <div class="showcase__submit-content__form__content__textarea">
                        <label for="blog-message">Comment</label>
                        <textarea id="blog-message" cols="30" rows="10" placeholder="Write a comment"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="showcase__submit-content__form__content__input">
                        <label for="blog-name">Name</label>
                        <input type="text" id="blog-name" placeholder="Name" />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="showcase__submit-content__form__content__input">
                        <label for="blog-name">Email</label>
                        <input type="email" id="blog-email" placeholder="Email" />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="showcase__submit-content__form__content__input">
                        <label for="blog-website">Website</label>
                        <input type="text" id="blog-wesbsite" placeholder="Website" />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="blog__form__btn">
                        <button>Post Comment</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="showcase__sidebar">
              <div class="showcase__sidebar__card">
                <div class="showcase__sidebar__card__img-container">
                  <img src="assets/images/card-img.jpg" alt="profile photo" />
                </div>
                <div class="showcase__sidebar__card__body">
                  <div class="showcase__sidebar__card__body__title">
                    <h5>Erik Jhonson</h5>
                    <span>UI UX Designer</span>
                  </div>
                  <ul class="showcase__sidebar__card__body__social-medias">
                    <li>
                      <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="fa-brands fa-vimeo-v"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="showcase__sidebar__search">
                <h5 class="showcase__sidebar__title">Search</h5>
                <form class="showcase__sidebar__search__form">
                  <input type="search" placeholder="Search keyword" />
                  <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </form>
              </div>
              <div class="showcase__sidebar__recent">
                <h5 class="showcase__sidebar__title">Recent Posts</h5>
                <ul class="showcase__sidebar__recent__posts">
                  <li class="showcase__sidebar__recent__posts__post">
                    <div class="showcase__sidebar__recent__posts__post__img-container">
                      <a href=""><img src="assets/images/Recent Posts/recent-01.jpg" alt="shoe" /></a>
                    </div>
                    <div class="showcase__sidebar__recent__posts__post__content">
                      <span>February 13, 2018</span>
                      <h5>Different title gose This is demo</h5>
                    </div>
                  </li>
                  <li class="showcase__sidebar__recent__posts__post">
                    <div class="showcase__sidebar__recent__posts__post__img-container">
                      <a href=""><img src="assets/images/Recent Posts/recent-02.jpg" alt="shoe" /></a>
                    </div>
                    <div class="showcase__sidebar__recent__posts__post__content">
                      <span>February 13, 2018</span>
                      <h5>Different title gose This is demo</h5>
                    </div>
                  </li>
                  <li class="showcase__sidebar__recent__posts__post">
                    <div class="showcase__sidebar__recent__posts__post__img-container">
                      <a href="">
                        <img src="assets/images/Recent Posts/recent-03.jpg" alt="shoe" />
                      </a>
                    </div>
                    <div class="showcase__sidebar__recent__posts__post__content">
                      <span>February 13, 2018</span>
                      <h5>Different title gose This is demo</h5>
                    </div>
                  </li>
                  <li class="showcase__sidebar__recent__posts__post">
                    <div class="showcase__sidebar__recent__posts__post__img-container">
                      <a href="">
                        <img src="assets/images/Recent Posts/recent-04.jpg" alt="shoe" />
                      </a>
                    </div>
                    <div class="showcase__sidebar__recent__posts__post__content">
                      <span>February 13, 2018</span>
                      <h5>Different title gose This is demo</h5>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="showcase__sidebar__categories">
                <h5 class="showcase__sidebar__title">Categories</h5>
                <ul class="showcase__sidebar__categories__body">
                  <li>
                    <a href="">Shoes</a>
                    <span>(20)</span>
                  </li>
                  <li>
                    <a href="">Fashion</a>
                    <span>(18)</span>
                  </li>
                  <li>
                    <a href="">Wallet</a>
                    <span>(40)</span>
                  </li>
                  <li>
                    <a href="">Life Style</a>
                    <span>(66)</span>
                  </li>
                  <li>
                    <a href="">Electronics</a>
                    <span>(66)</span>
                  </li>
                  <li>
                    <a href="">Jewellery & Cosmetics</a>
                    <span>(30)</span>
                  </li>
                </ul>
              </div>
              <div class="showcase__sidebar__tags">
                <h5 class="showcase__sidebar__title">Tags</h5>
                <div class="showcase__sidebar__tags__body">
                  <a href="blog-details.html">Fashion</a>
                  <a href="blog-details.html">Shoes</a>
                  <a href="blog-details.html">Wallet</a>
                  <a href="blog-details.html">Bags</a>
                  <a href="blog-details.html">Jewellery</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Showcase section ends-->
  </main>
