
@{
    ViewData["Title"] = "ContactUs";
}

<main>

    <div class="breadcrumb">
      <div class="custom-container">
        <h1 class="breadcrumb__title">Contact Us</h1>
        <ul class="breadcrumb__list">
          <li class="breadcrumb__list__item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb__list__item active">Contact Us</li>
        </ul>

      </div>
    </div>

    <section class="contact-area">
      <div class="custom-container">
        <div class="row" style="row-gap: 6rem;">
          <div class="col-12  col-lg-6">
            <div class="contact-area__title">
              <h2>Tell Us Your Project</h2>
            </div>
            <form class="contact-area__form">
              <div class="row">
                <div class="col-md-6 col-lg-6">

                  <input type="text" placeholder="Name *">


                </div>
                <div class="col-md-6 col-lg-6">

                  <input type="tel" pattern="[0-9]" placeholder="Phone *">


                </div>
                <div class="col-md-6 col-lg-6">

                  <input type="email" placeholder="Email *">


                </div>
                <div class="col-md-6 col-lg-6">

                  <input type="text" placeholder="Subject *">


                </div>
                <div class="col-lg-12">

                  <textarea cols="30" rowss="10" placeholder="Message *"></textarea>
                  <button type="submit">Send Message</button>

                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-lg-6">
            <div class="contact-area__title">
              <h2>Contact Us </h2>

            </div>
            <div class="contact-area__us">
              <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare
                quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human.</p>
              <ul>
                <li><i class="fa-solid fa-fax"></i> Address : No 40 Baria Sreet 133/2 NewYork City</li>
                <li><i class="fa fa-phone"></i> info@yourdomain.com
                </li>
                <li><i class="fa-regular fa-envelope"></i> +88013245657</li>
              </ul>
              <div class="contact-area__us__working-time">

                <h3 class="contact-area__us__working-time__title">Working Hours</h3>
                <p>Monday – Saturday: 08AM – 22PM</p>
              </div>
            </div>

          </div>

        </div>
      </div>



    </section>


  </main>

