<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Juan</title>
  <link rel="icon" href="~/assets/images/comment-icon.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap-grid.min.css"
    integrity="sha512-QWjMsIpO5eW4+c4ASTEaZ4+eZNZ4YTtSDiu167Rq1Eqw//WlO+rXo4OvZMpyW/ykbN5LFeXmN6N416OzmWo7fA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="stylesheet" href="~/assets/css/main.css" />
</head>

<body>
  <!-- Header starts -->
  <header class="header">
    <div class="header__top">
      <div class="custom-container">
        <div class="row">
          <div class="col-6">
            <div class="header__top__left">
              <p>Welcome to Juan online store</p>
            </div>
          </div>
          <div class="col-6">
            <div class="header__top__right">
              <ul>
                <li class="custom-dropdown">
                  $ Dollar (US) <i class="fa fa-angle-down"></i>
                  <ul class="custom-dropdown__menu">
                    <li>$ Usd</li>
                    <li>€ EURO</li>
                  </ul>
                </li>
                <li class="custom-dropdown">
                  <img src="~/assets/images/languages/en.jpg" alt="eng logo" />
                  <span>English</span>
                  <i class="fa fa-angle-down"></i>
                  <ul class="custom-dropdown__menu">
                    <li>
                      <img src="~/assets/images/languages/en.jpg" alt="eng logo" />
                      <span>English</span>
                    </li>
                    <li>
                      <img src="~/assets/images/languages/fr.jpg" alt="french logo" />
                      <span>French</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="custom-container">
        <nav>
          <div class="row">
            <div class="col-6 col-lg-2 header__bottom__logo">
              <a href="index.html">
                <img src="~/assets/images/logo.jpg" alt="brand logo">
              </a>
            </div>
            <div class="header__bottom__nav-links col-lg-8">

              <ul>
                <li>
                  <a href="index.html">Home<i class="fa fa-angle-down"></i></a>
                  <ul class="home__dropdown">
                    <li><a href="index.html">Home Version 01</a></li>
                    <li><a href="index.html">Home Version 02</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pages<i class="fa fa-angle-down"></i></a>
                  <ul class="pages__dropdown">
                    <li><a href="shop.html">Column 1</a>

                      <ul>
                        <li><a href="shop.html">shop grid left sidebar</a></li>
                        <li><a href="shop.html">shop grid right sidebar</a></li>
                        <li><a href="shop.html">shop list left sidebar</a></li>
                        <li><a href="shop.html">shop list right sidebar</a></li>
                      </ul>
                    </li>
                    <li><a href="product-details.html">Column 2</a>

                      <ul>
                        <li><a href="product-details.html">product details</a></li>
                        <li><a href="product-details.html">product details affiliate</a></li>
                        <li><a href="product-details.html">product details variable</a></li>
                        <li><a href="product-details.html">product details group</a></li>
                      </ul>
                    </li>
                    <li><a href="cart.html">Column 3</a>
                      <ul>
                        <li><a href="cart.html">cart</a></li>
                        <li><a href="cart.html">checkout</a></li>
                        <li><a href="cart.html">compare</a></li>
                        <li><a href="cart.html">wishlist</a></li>
                      </ul>
                    </li>
                    <li><a href="contact-us.html">Column 4</a>
                      <ul>
                        <li><a href="contact-us.html">my-account</a></li>
                        <li><a href="contact-us.html">login-register</a></li>
                        <li><a href="contact-us.html">contact us</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="shop.html">Shop<i class="fa fa-angle-down"></i></a>
                  <ul class="shop__dropdown">
                    <li>
                      <a href="shop.html">shop grid layout<i class="fa-solid fa-angle-right"></i></a>
                      <ul>
                        <li><a href="shop.html">shop grid left sidebar</a></li>
                        <li><a href="shop.html">shop grid right sidebar</a></li>
                        <li><a href="shop.html">shop grid full 3 col</a></li>
                        <li><a href="shop.html">shop grid full 4 col</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="shop.html">shop list layout<i class="fa-solid fa-angle-right"></i></a>
                      <ul>
                        <li><a href="shop.html">shop list left sidebar</a></li>
                        <li><a href="shop.html">shop list right sidebar</a></li>
                        <li><a href="shop.html">shop list full width</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="product-details.html">products details<i class="fa-solid fa-angle-right"></i></a>
                      <ul>
                        <li><a href="product-details.html">product details</a></li>
                        <li><a href="product-details.html">product details affiliate</a></li>
                        <li><a href="product-details.html">product details variable</a></li>
                        <li><a href="product-details.html">product details group</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="blogs.html">Blog<i class="fa fa-angle-down"></i></a>
                  <ul class="blog__dropdown">
                    <li><a href="blogs.html">blog left sidebar</a></li>
                    <li><a href="blogs.html">blog right sidebar</a></li>
                    <li><a href="blogs.html">blog grid no sidebar</a></li>
                    <li><a href="blog-details.html">blog details</a></li>
                    <li><a href="blog-details.html">blog details audio</a></li>
                    <li><a href="blog-details.html">blog details video</a></li>
                    <li><a href="blog-details.html">blog details left sidebar</a></li>

                  </ul>
                </li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>

            </div>

            <div class=" col-6 col-lg-2 header__bottom__config">

              <ul>
                <li><button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <li>
                  <button><i class="fa-solid fa-gear"></i>
                    <ul>
                      <li><a href="">Login</a></li>
                      <li><a href="">Register</a></li>
                      <li><a href="">My Account</a></li>
                    </ul>
                </li>
                <li>
                  <button><i id="basket-card" class="fa-solid fa-basket-shopping"></i>
                    <span id="basket-count">0</span></button>

                </li>
                <li>
                  <button id="hamburger"><i class="fa-solid fa-bars"></i></button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    </div>
  </header>
  <!-- Header ends -->

  <!-- Search input starts -->
  <div class="search__overlay">
    <div class="search__overlay__closeBtn">
      <button><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="custom-container">
      <div class="search__overlay__content">
        <form class="search__overlay__content__form">
          <input type="search" id="" placeholder="Search entire storage here...">
          <button>
            <i class="fa-solid fa-magnifying-glass"></i> <span>Search</span>
          </button>
        </form>
      </div>

    </div>


  </div>
  <!-- Search input ends -->

  <!-- Aside canvas starts -->
  <aside class="canvas">
    <div class="canvas__overlay"></div>
    <div class="canvas__content">
      <div class="canvas__content__closeBtn">
        <button><i class="fa-solid fa-xmark"></i></button>
      </div>
      <form class="canvas__content__form">
        <input type="search" placeholder="Search Here..." />
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <ul class="canvas__content__accordions">
        <li>
          <div>
            <a href="index.html">Home</a>

            <div class="toggle"></div>
          </div>

          <ul class="canvas__content__accordions__dropdown">
            <li>
              <a href="index.html">
                Home Version 01
              </a>

            </li>
            <li>
              <a href="index.html">
                Home Version 02
              </a>
            </li>
          </ul>
        </li>
        <li>
          <div>
            <a href="shop.html">Pages</a>

            <div class="toggle"></div>

          </div>


          <ul class="canvas__content__accordions__dropdown">
            <li>
              <a href="blog-details.html">Column 01</a>
            </li>
            <li>
              <a href="blogs.html">Column 02</a>
            </li>
            <li>
              <a href="shop.html">Column 03</a>
            </li>
            <li>
              <a href="blog-details.html">Column 04</a>
            </li>
          </ul>
        </li>
        <li>
          <div>
            <a href="shop.html">Shop</a>

            <div class="toggle"></div>
          </div>


          <ul class="canvas__content__accordions__dropdown">
            <li>
              <a href="contact-us.html">Shop Grid Layout</a>
            </li>
            <li>
              <a href="product-details.html">Shop List Layout</a>
            </li>
            <li>
              <a href="product-details.html">Products Details</a>
            </li>

          </ul>
        </li>
        <li>
          <div>
            <a href="blogs.html">Blog</a>
            <div class="toggle"></div>
          </div>


          <ul class="canvas__content__accordions__dropdown">
            <li>
              <a href="blog-details.html">Blog Left Sidebar</a>
            </li>
            <li>
              <a href="blogs.html">Blog Right Sidebar</a>
            </li>

          </ul>
        </li>
        <li>
          <div id="canvas__contact-us">
            <a href="contact-us.html">Contact Us</a>
          </div>
        </li>
      </ul>
      <ul class="canvas__content__accordions">
        <li id="accordion-currency">
          <div>
            <a href="index.html">Currency <i class="fa-solid fa-angle-down"></i></a>

          </div>


          <ul class="canvas__content__accordions__dropdown">
            <li>
              <a href="index.html">
                Blog Left Sidebar
              </a>

            </li>
            <li>
              <a href="index.html">
                Blog Right Sidebar
              </a>
            </li>
          </ul>
        </li>
        <li id="accordion-account">
          <div>
            <a href="contact-us.html">My Account <i class="fa-solid fa-angle-down"></i></a>

          </div>


          <ul class="canvas__content__accordions__dropdown">
            <li>
              <a href="index.html">
                Blog Left Sidebar
              </a>

            </li>
            <li>
              <a href="index.html">
                Blog Right Sidebar
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="canvas__content__contact-info">
        <li>
          <i class="fa fa-mobile"></i> <a href="">0123456789</a>
        </li>
        <li>
          <i class="fa-regular fa-envelope"></i> <a href="">info@yourdomain.com</a>
        </li>
      </ul>
      <ul class="canvas__content__social-medias">
        <li><a href="">
            <i class="fa-brands fa-facebook-f"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-twitter"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-pinterest-p"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-linkedin-in"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-youtube"></i>
          </a></li>
      </ul>
    </div>

  </aside>
  <!-- Aside canvas ends -->


  <!-- Aside right canvas starts -->
  <aside class=" canvas__basket">
    <div class=" canvas__basket__overlay"></div>
    <div class="  canvas__basket__content">
      <div class="canvas__basket__content__closeBtn">
        <button><i class="fa-solid fa-xmark"></i></button>
      </div>

      <ul class="canvas__basket__content__mini-cart">
        <!-- <li class="canvas__basket__content__mini-cart__item">
         <div class="canvas__basket__content__mini-cart__item__img-container">
           <img src="~/assets/images/dragShoes/product-10.jpg" alt="shoe">
         </div>
         <div class="canvas__basket__content__mini-cart__item__body">
           <h5 class="canvas__basket__content__mini-cart__item__body__title">
             <a href="product-details.html">Flowers bouquet pink for all flower lovers</a>
           </h5>
           <p class="canvas__basket__content__mini-cart__item__body__quantity-price"><span class="item-quantity">1 <strong>×</strong></span> <span class="item-price">$80.00</span></p>
         </div>
         <button class="canvas__basket__content__mini-cart__item__button">
           <i class="fa-solid fa-xmark"></i>
         </button>
       </li> -->

        <!-- <li class="canvas__basket__content__mini-cart__item">
         <div class="canvas__basket__content__mini-cart__item__img-container">
           <img src="~/assets/images/dragShoes/product-8.jpg" alt="shoe">
         </div>
         <div class="canvas__basket__conten
         t__mini-cart__item__body">
           <h5 class="canvas__basket__content__mini-cart__item__body__title">
             <a href="product-details.html">Flowers bouquet pink for all flower lovers</a>
           </h5>
           <p class="canvas__basket__content__mini-cart__item__body__quantity-price"><span class="item-quantity">1 <strong>×</strong></span> <span class="item-price">$80.00</span></p>
         </div>
         <button class="canvas__basket__content__mini-cart__item__button">
           <i class="fa-solid fa-xmark"></i>
         </button>
       </li> -->
      </ul>

      <ul class="canvas__basket__content__pricing-box">
        <li class="canvas__basket__content__pricing-box__item">
          <span class="canvas__basket__content__pricing-box__item__name">Sub-Total</span>
          <span id="global__cart-subtotal" class="canvas__basket__content__pricing-box__item__price">$0.00</span>
        </li>
        <li class="canvas__basket__content__pricing-box__item">
          <span class="canvas__basket__content__pricing-box__item__name">Eco Tax (-2.00)</span>
          <span id="global__cart-tax" class="canvas__basket__content__pricing-box__item__price">$0.00</span>
        </li>
        <li class="canvas__basket__content__pricing-box__item">
          <span class="canvas__basket__content__pricing-box__item__name">VAT (20%)</span>
          <span id="global__cart-vat" class="canvas__basket__content__pricing-box__item__price">$0.00</span>
        </li>
        <li id="canvas__basket__total" class="canvas__basket__content__pricing-box__item">
          <span class="canvas__basket__content__pricing-box__item__name">Total</span>
          <span id="global__cart-total" class="canvas__basket__content__pricing-box__item__price">$0.00</span>
        </li>
      </ul>

      <div class="canvas__basket__content__buttons">
        <button class="canvas__basket__content__buttons__btn"><a href="cart.html"><i
              class="fa-solid fa-cart-shopping"></i>View Cart</a></button>
        <button class="canvas__basket__content__buttons__btn"><a href="cart.html"><i
              class="fa-solid fa-share"></i>Checkout</a></button>
      </div>




    </div>

  </aside>
    <main>
        @RenderBody()
    </main>
    <!-- Pop up messages start -->

  <div class="pop-up--global pop-up--global--hidden ">
  </div>

  <!-- Pop up messages end -->

  <!-- Modal starts -->

  <div class="product-details__modal__overlay hidden"></div>
  <section class="product product-details__modal hidden">
    <div class="custom-container">
      <div class="row" style="row-gap: 1rem;">
        <div class="col-12 col-lg-5">
          <button class="product-details__modal__btn--close-modal">&times;</button>
          <div class="product__left-side">
            <div class="zoom">
              <img src="~/assets/images/dragShoes/product-details-img1.jpg" />
            </div>
            <div class="thumbs-container">
              <div>
                <img class="thumb" src="~/assets/images/dragShoes/product-details-img1.jpg">
              </div>
              <div>
                <img class="thumb" src="~/assets/images/dragShoes/product-details-img2.jpg">
              </div>
              <div>
                <img class="thumb" src="~/assets/images/dragShoes/product-details-img3.jpg">
              </div>
              <div>
                <img class="thumb" src="~/assets/images/dragShoes/product-details-img4.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <div class="product__right-side">
            <div class="product__right-side__text">
              <h3>Primitive Mens Premium Shoes</h3>
              <a href="">1 Review(s)</a>
              <span>$70.00</span> <del>$80.00</del>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>

            <div class="product__right-side__buy">
              <div class="product__right-side__buy--count">
                <span class="count-minus"><i class="fa-solid fa-minus"></i></span>
                <span class="count">1</span>
                <span class="count-plus"><i class="fa-solid fa-plus"></i></span>
              </div>
              <div class="product__right-side__buy--add">
                <button>Add to Cart</button>
              </div>
            </div>
            <div class="product__right-side__extra">
              <div>
                <p>Availability:<span>In Stock</span></p>
              </div>
              <div>
                <p>Share:</p>
                <ul>
                  <li><button><i class="fa-brands fa-facebook-f"></i>
                    </button></li>
                  <li><button><i class="fa-brands fa-twitter"></i>
                    </button></li>
                  <li><button><i class="fa-brands fa-pinterest"></i>
                    </button></li>
                  <li><button><i class="fa-brands fa-google-plus-g"></i>
                    </button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal ends -->


  <!-- Footer starts -->
  <footer class="footer">
    <div class="footer__top">
      <div class="custom-container">
        <div class="row" style="row-gap: 2rem;">
          <div class="col-md-6 col-lg-5 footer__top__left-side">
            <h5 class="footer__top__left-side__title">
              My Account
            </h5>
            <ul class="footer__top__left-side__list">
              <li><img src="~/assets/images/icons/icons8-location-32.png" alt="location logo"><span>184 Main Rd E, St
                  Albans VIC 3021, Australia</span></li>
              <li><img src="~/assets/images/icons/icons8-mail-32.png" alt="mail logo"><span>Mail Us:</span>
                <span>yourmail@gmail.com</span>
              </li>
              <li><img src="~/assets/images/icons/icons8-phone-32.png" alt="phone logo"><span>Phone:</span> <span>+ 00 254
                  254565</span></li>
            </ul>
          </div>
          <div class="col-md-6  col-lg-2">
            <h5 class="footer__top__title">
              Categories
            </h5>
            <ul class="footer__top__list">
              <li>Ecommerce</li>
              <li>Shopify</li>
              <li>Prestashops</li>
              <li>Opencart</li>
              <li>Magento</li>
              <li>Jigoshop</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-2">
            <h5 class="footer__top__title">
              Information
            </h5>
            <ul class="footer__top__list">
              <li>Home</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Returns & Exchanges</li>
              <li>Shipping & Delivery</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 custom-flex">
            <h5 class="footer__top__title">
              Quick Links
            </h5>
            <ul class="footer__top__list">
              <li>Store Location</li>
              <li>My Account</li>
              <li>Orders Tracking</li>
              <li>Size Guide</li>
              <li>Shopping Rates</li>
              <li>Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="custom-container">
        <div class="footer__bottom__copyright-socialMedias">
          <div class="footer__bottom__copyright">
            <span>© 2022 <strong>Juan</strong> website made with 💖💩 by <span class="name">Fakhri</span></span>
          </div>

          <ul class="footer__bottom__social-medias">
            <li>
              <a href="https://www.facebook.com/fexri.efendiyev220" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>


      </div>


    </div>
  </footer>
  <!-- Footer ends -->

  <!-- fixed back to top -->
  <a class="hidden" href="#"><button class="btn btn-fixed"><i class="fa-solid fa-angle-up"></i></button></a>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="~/assets/js/utilities/modal.js"></script>
  <script src="~/assets/js/utilities/zoom.js"></script>
  <script src="~/assets/js/global.js"></script>
  <script src="~/assets/js/main.js"></script>
</body>

</html>
