// Medias start

@media (min-width: 576px) {
  .custom-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1200px;
  }
}
// Medias end
